.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  height: 100vh;

  .title {
    margin: 20px 0;
    font-size: 40px;
    font-weight: 900;
  }

  .searchWrap {
    display: flex;
    gap: 20px;
  }

  .cardWrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 40px;
  }
}
