.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  height: 100vh;

  .title {
    margin: 20px 0;
    font-size: 40px;
    font-weight: 900;
  }

  .searchWrap {
    display: flex;
    gap: 20px;

    .searchInput {
      padding: 5px;
      border: 1px solid lightgray;
      border-radius: 5px;
      outline: none;
    }

    .createBtn {
      padding: 5px;
      width: 100px;
      border-radius: 5px;
      background-color: skyblue;
      color: white;
      cursor: pointer;
    }
  }

  .cardWrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 40px;
  }
}
